// $red: #EB5757;
// $dark-grey: #333333;
:root {
  --red: #eb5757;
  --dark-grey: #333333;
  --light-grey: #f2f2f2;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #a9a9a9;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1250px;
  min-width: 355px;

  padding: 32px;
  margin: 0 auto;

  color: var(--dark-grey);
}

@media (max-width: 1330px) {
  body {
    max-width: 822px;
  }
}
@media (max-width: 903px) {
  body {
    max-width: 395px;
    padding: 18px 10px;
  }
}
@media (max-width: 450px) {
  body {
    box-sizing: border-box;
    width: 355px;
  }
}